extends layout

block content
link(rel='stylesheet', href='/http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css')
  h1= title
  p Welcome to #{title}

  div('navbar navbar-fixed-top')
    div('navbar-inner')
      div('container')
        注册
      

